@{
    ViewData["Title"] = "Home Page";
}

<div class="col-8 text-center">
    <h1 class="display-4">Welcome to Task Organizer</h1><br />
    <a asp-controller="Home" asp-action="AddTask" class="btn btn-primary">Add Task</a>
</div>
